/* Universal */

html {
  font-size: 18px;
  /*background-color: white;*/
}

head {
  display: none;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

h1, h4 {
  font-weight: bold;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Company Header */

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0 12px 0.5em;
}

.company img {
  height: 1.5em;
  padding-right: 15px;
}

/* Main Banner */

.main-banner {
  background: url("../images/ninjawarrior.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60em;
  opacity: 0.7;
}

.headline {
  background-color: white;
  /*background: transparent;*/
  opacity: .9;
  color: black;
  width: 40em;
  padding: 2em 3em;
  position: relative;
  top: 10em;
  right: auto;
  margin: auto;
  align-content: center;
  text-align: center;
  /*border: white solid 1px;*/
}

headline h1 {
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  /*margin: auto;*/
  justify-content: center;
  opacity: 0.5;
}

#bigtext {
  font-size: 3em;
  padding: 1em;
  justify-content: center;
  color: white;
  line-height: 1em;
  /*border: white solid 1px;*/
  text-align: center;
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15em;
  }

  .headline {
    width: 100%;
    padding: 1em 2em;
    top: 10em;
  }

  .headline h4 {
    font-size: .77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }
}

.headline form {
  padding-top: 2em;
  justify-content: center;
  text-align: center;
}

label {
  display: inline-block;
  width: 450px;
  text-align: right;
  justify-content: center;
  align-items: center;
}​

footer {
  background-color: black;
  color: white;
  padding: 1em 1em;
  margin-top: 0;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
